.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 60px;

    background-color: rgb(255, 255, 255);

    border: 1px solid rgb(50, 50, 50);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 60px;

    padding-left: 50px;

}

.brand-logo a {
    font-size: 30px;
    font-weight: 600;
    color: black;

    text-align: center;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 1000px;
    height: 60px;
}

.menu-container li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container li a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 600;
    color: black;
}

.menu-container li a:hover {
    text-shadow: 0px 0px 15px #141414;
}

.header-info {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 150px;
    height: 60px;
}

.header-info a {
    font-size: 18px;
    font-weight: 600;
    color: black;

    line-height: 25px;
}

.sns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 45px;

    padding-right: 50px;

}

.sns-button {
    border: none;
    background-color: #ffffff00;
}

.sns-button .fa-instagram {
    font-size: 25px;
    padding-right: 15px;
    color: rgb(0, 0, 0);

    cursor: pointer;
}

.sns-button .fa-youtube {
    font-size: 25px;
    padding-right: 15px;
    color: rgb(0, 0, 0);

    cursor: pointer;
}

.sns-button .fa-t {
    font-size: 25px;
    padding-right: 15px;
    color: rgb(0, 0, 0);

    cursor: pointer;
}

.sns-button .fa-github {
    font-size: 25px;
    color: rgb(0, 0, 0);

    cursor: pointer;
}

